<style>
    .text-animation {
        color: #000100;
        font-size: 1.1em;
        text-shadow: 10px 10px 50px whitesmoke;
        text-align: center;
    }
    
    .lead.text-animation {
        min-width: 600px; /* Fixed width for subtitle */
        height: 80px; /* Fixed height for subtitle */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
    }
    /* Add/Modify these styles */
    .bar.background-pentagon {
        position: relative;
        color: #fff;
    }

    .graph-canvas {
        background: #fff;
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .text-animation {
        position: relative;
        z-index: 0;
    }

                    .testimonials-wrapper {
                        
                        position: relative;
                        overflow: hidden;
                    }

                    .testimonial {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 30      0%;
                        text-decoration: none;
                        color: inherit;
                    }

                    .testimonial .text {
                        flex-grow: 3;
                    }

                    .bottom {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                    }

                    .social-links {
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                        gap: 10px;
                    }

                    .social-link {
                        color: #0077b5; /* Adjust for each platform if needed */
                        text-decoration: none;
                        font-size: 1.2em;
                        display: inline-block;
                    }

                    .social-link i {
                        margin-right: 5px;
                    }

                    .social-link:hover {
                        color: #005b9a; /* Darker color on hover */
                    }

                    .fab, .fas {
                        margin-right: 5px;
                    }

    .repeat-img-background {
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

</style>


{{ if isset .Site.Params "testimonials" }}
    {{ if .Site.Params.testimonials.enable }}
        {{ if isset .Site.Data "testimonials" }}
            {{ if gt (len .Site.Data.testimonials) 0 }}
                <section class="bar repeat-img-background no-mb">
                    <div class="container graph-canvas">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading text-center">
                                    <h2 class="text-animation" 
                                    data-languages='[
                                    {"text":"Membros", "lang":"pt-BR", "color":"#000100"},
                                    {"text":"Members", "lang":"en", "color":"#000100"},
                                    {"text":"Miembros", "lang":"es", "color":"#000100"},
                                    {"text":"Membres", "lang":"fr", "color":"#000100"},
                                    {"text":"メンバー", "lang":"ja", "color":"#000100"},
                                    {"text":"成员", "lang":"zh-CN", "color":"#000100"},
                                    {"text":"सदस्य", "lang":"hi", "color":"#000100"},
                                    {"text":"أعضاء", "lang":"ar", "color":"#000100"}
                                ]'>
                                    {{ .Site.Params.testimonials.title }}
                                    </h2>
                                </div>

                                <!-- *** TESTIMONIALS CAROUSEL *** -->

                                <div class="testimonials-wrapper">
                                    <ul class="owl-carousel testimonials same-height-row"
                                        data-items="{{ default 3 }}"
                                        data-autoplay="{{ default false .Site.Params.CarouselTestimonials.auto_play }}"
                                        data-slide-speed="{{ default 2000 .Site.Params.CarouselTestimonials.slide_speed }}"
                                        data-pagination-speed="{{ default 1000 .Site.Params.CarouselTestimonials.pagination_speed }}">
                                        
                                        {{ range .Site.Data.testimonials }}
                                            <li class="item">
                                                <!-- Social Links Section -->
                                                <div class="social-links">
                                                    {{ if .linkedin_link }}
                                                        <a href="{{ .linkedin_link }}" target="_blank" class="social-link" aria-label="LinkedIn">
                                                            <i class="fab fa-linkedin"></i>
                                                        </a>
                                                    {{ end }}
                                                    
                                                    {{ if .github_link }}
                                                        <a href="{{ .github_link }}" target="_blank" class="social-link" aria-label="GitHub">
                                                            <i class="fab fa-github"></i>
                                                        </a>
                                                    {{ end }}
                                                    
                                                    {{ if .email }}
                                                        <a href="mailto:{{ .email }}" class="social-link" aria-label="Email">
                                                            <i class="fas fa-envelope"></i>
                                                        </a>
                                                    {{ end }}

                                                        <!-- ResearchGate Link -->
                                                        {{ if .researchGate_link }}
                                                        <a href="{{ .researchGate_link }}" target="_blank" class="social-link" aria-label="ResearchGate">
                                                            <i class="fab fa-researchgate"></i>
                                                        </a>
                                                    {{ end }}

                                                    <!-- Lattes Curriculum Link -->
                                                    {{ if .lattes_link }}
                                                        <a href="{{ .lattes_link }}" target="_blank" class="social-link" aria-label="Lattes Curriculum">
                                                            <!-- Use custom icon or alternative Font Awesome icon -->
                                                            <i class="fas fa-graduation-cap"></i> <!-- Alternative icon suggestion -->
                                                        </a>
                                                    {{ end }}
                                                    
                                                    {{ if .personalSite_link }}
                                                        <a href="{{ .personalSite_link }}" target="_blank" class="social-link" aria-label="Website">
                                                            <i class="fas fa-globe"></i>
                                                        </a>
                                                    {{ end }}
                                                </div>
                                                <div class="testimonial same-height-always">
                                                        <div class="text text-animation">
                                                            <hr>
                                                            <strong>❝{{ .text | markdownify }}❞</strong>
                                                            <hr>
                                                        </div>                                          
                                                    <div class="bottom">
                                                        <div class="icon"><i class="fas fa-quote-left"></i></div>
                                                        <div class="name-picture">
                                                            <img class="" alt="Avatar of {{ .name }}" src="{{ .avatar | absURL }}">
                                                            <h5>{{ .name }}</h5>
                                                            <p>{{ .position }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {{ end }}
                                    </ul>
                                    <!-- /.owl-carousel -->
                                </div>
                                <!-- /.testimonials-wrapper -->

                                <!-- *** TESTIMONIALS CAROUSEL END *** -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.bar -->


            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function animateElement(element, dataAttr) {
            const languages = JSON.parse(element.getAttribute(dataAttr));
            let currentIndex = 0;
            element.style.color = languages[0].color;
            
            const updateText = () => {
                element.classList.add('fade-out');
                setTimeout(() => {
                    currentIndex = (currentIndex + 1) % languages.length;
                    element.textContent = languages[currentIndex].text;
                    element.style.color = languages[currentIndex].color;
                    element.classList.remove('fade-out');
                    element.classList.add('fade-in');
                    element.classList.add('pulse');
                    setTimeout(() => {
                        element.classList.remove('pulse');
                    }, 500);
                }, 500);
            };
            setInterval(updateText, 1000);
        }

        const title = document.querySelector('h2[data-languages]');
        const subtitle = document.querySelector('p[data-subtitle-languages]');
        
        if (title) animateElement(title, 'data-languages');
        if (subtitle) animateElement(subtitle, 'data-subtitle-languages');
    });
</script>
<style>
    .fade-out {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .fade-in {
        opacity: 1;
        transition: opacity 0.5s;
    }

    .pulse {
        animation: pulse-animation 0.5s;
    }

    @keyframes pulse-animation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.23);
        }
        100% {
            transform: scale(1);
        }
    }
</style>